.middle .post {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 0 0;
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .post .head {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.middle .post .user {
    display: flex;
    gap: 1rem;
}

.middle .post .username {
    font-weight: 500;
    font-size: 1rem;
}

.middle .post .post-text {
    font-size: 1rem;
    padding: 1rem;
}


.middle .post .photo {
    overflow: hidden;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.middle .likes-count{
    width: 2rem;
    cursor: pointer;
}

.middle .post .video{
    width: 100%;
    margin: 0 1rem;
    
}

.middle .post .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.middle .post .action-buttons {
    font-size: 1rem;
}

.middle .post .action-buttons i{
    font-size: 1.2rem;
    margin-right: 0.2rem;
}

.middle .post .comments{
    padding: 0 1rem;

}

.middle .post .comment{
    display: flex;
    gap : 0.5rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}


.middle .post .comment .profile-picture {
    width: 2.5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
}

.middle .post .comment .comment-body .comment-time{
    font-size: 0.7rem;
}

.middle .post .comment .comment-username{
    font-weight: 500;
    font-size: 0.9rem;
}

.middle .post .comments .hide-comments{
    margin-bottom: 1rem; 
    cursor: pointer;
}

.middle .post .comment  .comment-body {
    width: 100%;
}

.middle .post .comments-count{
    cursor: pointer;
}


.middle .post .comment .comment-body .comment-text{
    border-radius: var(--card-border-radius);
    background-color: var(--color-light);
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 0.5rem;
}


.middle .post .comment .comment-image{
    width: 50%;
    margin-top: 0.5rem;
}

.middle .post .comment .comment-image img{
    border-radius: var(--card-border-radius);
}


/* -----------------------add comment------------------ */

.middle .post .add-comment{
    width: 100%;
    padding: 0 1rem;
}
.middle .post .add-comment .comment-form{
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.middle .post .add-comment i{
    font-size: 1.3rem;
    margin-top: 0.5rem;
    color: var(--color-primary);
    cursor: pointer;
    
}


.middle .post .add-comment textarea{
    background-color: var(--color-light);
    width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 2rem;
    padding: 0.5rem;
    border-radius: var(--card-border-radius);
}

.middle .comment-image-preview{
    width: 30%;
    padding-left: 2rem;
}

.middle .comment-image-preview img{
    border-radius: var(--card-border-radius);
    margin-bottom: 1rem;
}

.middle .comment-image-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.middle .comment-image-preview i{
    font-size: 1.5rem;
    color: var(--color-danger);
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}
.comment-data-portion{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.comment-text{
    width: 90%;
}



/* ----------------------- MARKET PLACE ------------------ */
.middle .post .marketplace-info-container{
    margin: 1rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    
}

/* ----------------------- No comments --------------------*/
.middle .post .no-comments{
    margin-bottom: 1rem;
}

/* ----------------------- load more comments --------------------*/
.middle .post .load-more-comments{
    margin-bottom: 1rem;
    cursor: pointer;
}