<a href="/user/user_id=<%= currentUser.USER_ID %>" class="profile">
    <div class="profile-picture">
        <img src="<%= currentUser.PROFILE_PIC%>" alt="pfp">
    </div>

    <div class="handle">
        <p class="username text-bold"><%= currentUser.NAME %></p>
        <p class=" userid text-muted">@<%= currentUser.STUDENT_ID %></p>
    </div>
</a>
