<a href="#" class="profile">
    <div class="profile-picture">
        <img src="images/pfp.jpg" alt="pfp">
    </div>

    <div class="handle">
        <p class="username text-bold"><%= currentUser.NAME %></p>
        <p class=" userid text-muted">@<%= currentUser.STUDENT_ID %></p>
    </div>
</a>