<div class="sidebar">

    <!---------------------------Home---------------------------------->
    <a href="/newsfeed" class="menu-item <% if (type==='newsfeed') { %> active <% } %>">
        <span><i class="fa-solid fa-house"></i><h3>Newsfeed</h3></span>
    </a>
    
    <!---------------------------Messages---------------------------------->
    <a href="/message" class="menu-item" id="messages">
        <span><i class="fa-solid fa-message"></i><h3>Messages</h3></span>
    </a>
    
    <!---------------------------Notifications---------------------------------->
    <a href="#" class="menu-item" id="notifications" onclick="showNotifications()">
        <span><i class="fa-solid fa-bell"></i><h3>Notifications</h3></span>
    </a>
    
    <!---------------------------Find users--------------------------------->
    <a href="/user/find-users" class="menu-item <% if (type==='find-users') { %> active <% } %> ">
        <span><i class="fa-solid fa-user"></i><h3>Find users</h3></span>
    </a>
    
    <!---------------------------Public Forum----------------------------------->
    <a href="/public-forum" class="menu-item" <% if (type==='public-forum') { %> active <% } %> ">
        <span><i class="fa-solid fa-bullhorn"></i><h3>Public Forum</h3></span>
    </a>
   
    <!---------------------------Groups---------------------------------->
    <a href="/groups" class="menu-item <% if (type==='group') { %> active <% } %>">
        <span><i class="fa-solid fa-user-group"></i><h3>Groups</h3></span>
    </a>
    
    <!---------------------------Marketplace---------------------------------->
    <a href="/marketplace" class="menu-item <% if (type==='marketplace') { %> active <% } %>">
        <span><i class="fa-solid fa-cart-shopping"></i><h3>Marketplace</h3></span>
    </a>
    
    <!---------------------------Tution---------------------------------->
    <a href="/tuition" class="menu-item <% if (type==='tuition') { %> active <% } %>">
        <span><i class="fa-solid fa-book"></i><h3>Tution</h3></span>
    </a>

    <!---------------------------Events---------------------------------->
    <!-- <a href="#" class="menu-item">
        <span><i class="fa-solid fa-calendar"></i><h3>Events</h3></span>
    </a> -->

</div>