<div class="sidebar">

    <!---------------------------Home---------------------------------->
    <a href="/newsfeed" class="menu-item active">
        <span><i class="uil uil-home"></i><h3>Newsfeed</h3></span>
    </a>
    
    <!---------------------------Messages---------------------------------->
    <a href="#" class="menu-item" id="messages">
        <span><i class="uil uil-envelope"><small class="notification-count">9+</small></i><h3>Messages</h3></span>
    </a>
    
    <!---------------------------Notifications---------------------------------->
    <a href="#" class="menu-item" id="notifications">
        <span><i class="uil uil-bell"> <small class="notification-count">9+</small></i><h3>Notifications</h3></span>
    </a>
    
    <!---------------------------Find users--------------------------------->
    <a href="#" class="menu-item">
        <span><i class="uil uil-user"></i><h3>Find users</h3></span>
    </a>
    
    <!---------------------------Public Forum----------------------------------->
    <a href="#" class="menu-item">
        <span><i class="uil uil-megaphone"></i><h3>Public Forum</h3></span>
    </a>
   
    <!---------------------------Groups---------------------------------->
    <a href="#" class="menu-item">
        <span><i class="uil uil-users-alt"></i><h3>Groups</h3></span>
    </a>
    
    <!---------------------------Marketplace---------------------------------->
    <a href="#" class="menu-item">
        <span><i class="uil uil-shopping-cart"></i><h3>Marketplace</h3></span>
    </a>
    
    <!---------------------------Tution---------------------------------->
    <a href="#" class="menu-item">
        <span><i class="uil uil-book-alt"></i><h3>Tution</h3></span>
    </a>

    <!---------------------------Events---------------------------------->
    <a href="#" class="menu-item">
        <span><i class="uil uil-calender"></i><h3>Events</h3></span>
    </a>

</div>