<style>
    #tuition-notification-modal .subsection{
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    #tuition-notification-modal .dropdown-check-list-anchor{
        padding: 1rem;
    }

</style>


<div class="modal fade modal-md" tabindex="-1" id="tuition-notification-modal" style="overflow-y: visible;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set up Tuition Notification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="max-height: 700px; overflow-y: visible;">
                

                <div class="subsection">
                    <div class="dropdown-check-list" id="notification-tuition-post-class" tabindex="100" style="position: relative; z-index: 300; ">
                        <div class="dropdown-check-list-anchor">
                            <div>Select classes</div>
                            <div><i class="fa-solid fa-caret-down"></i></div>
                        </div>
                        <ul class="dropdown-check-list-items" style="display: none ; position: absolute; background-color: white; max-height: 500px; overflow-y: scroll;">
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="Below class 9"> &nbsp;Below class 9</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="9"> &nbsp;Class 9</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="10"> &nbsp;Class 10</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="HSC 1st year"> &nbsp;HSC 1st year</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="HSC 2nd year"> &nbsp;HSC 2nd year</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="Admission test"> &nbsp;Admission test</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="English Medium O level"> &nbsp;English Medium O level</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="English Medium AS level"> &nbsp;English Medium AS level</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="English Medium A level"> &nbsp;English Medium A level</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="class" value="others"> &nbsp;others</li>
                        </ul>
                    </div>
                
                    <script type="text/javascript">
                        var notification_classChecklist = document.getElementById('notification-tuition-post-class');
                        notification_classChecklist.getElementsByClassName('dropdown-check-list-anchor')[0].onclick = function (evt) {
                            if (notification_classChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display == 'none') notification_classChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display = 'block';
                            else notification_classChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display = 'none';
                        }
                    </script>
                
                </div>
        
                <div class="subsection">
                    <div class="dropdown-check-list" id="notification-tuition-post-subject" tabindex="200" style="position: relative; z-index: 200; ">
                        <div class="dropdown-check-list-anchor">
                            <div>Select subjects</div>
                            <div><i class="fa-solid fa-caret-down"></i></div>
                        </div>
                        <ul class="dropdown-check-list-items" style="display: none ; position: absolute; background-color: white; max-height: 500px; overflow-y: scroll;">
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="subjects" value="Physics">&nbsp; &nbsp; &nbsp; Physics</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="subjects" value="Math">&nbsp; &nbsp; &nbsp; Math</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="subjects" value="Chemistry">&nbsp; &nbsp; &nbsp; Chemistry</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="subjects" value="Biology">&nbsp; &nbsp; &nbsp; Biology</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="subjects" value="ICT">&nbsp; &nbsp; &nbsp; ICT</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="subjects" value="Others">&nbsp; &nbsp; &nbsp; Others</li>
                        </ul>
                    </div>
        
                    <script type="text/javascript">
                        var notification_subjectChecklist = document.getElementById('notification-tuition-post-subject');
                        notification_subjectChecklist.getElementsByClassName('dropdown-check-list-anchor')[0].onclick = function (evt) {
                            if (notification_subjectChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display == 'none') notification_subjectChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display = 'block';
                            else notification_subjectChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display = 'none';
                        }
                    </script>
        
                </div>

                <div class="subsection" >
                    <div class="dropdown-check-list" id="notification-tuition-post-locations" tabindex="100" style="position: relative ;">
                        <div class="dropdown-check-list-anchor">
                            <div>Select locations</div>
                            <div><i class="fa-solid fa-caret-down"></i></div>
                        </div>
                        <ul class="dropdown-check-list-items" style="display: none ; position: absolute; background-color: white; max-height: 300px; overflow-y: scroll;">
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Agargaon"> &nbsp;Agargaon</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Armanitola"> &nbsp;Armanitola</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Azampur"> &nbsp;Azampur</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Azimpur"> &nbsp;Azimpur</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Bailey Road"> &nbsp;Bailey Road</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Banani"> &nbsp;Banani</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Banasree"> &nbsp;Banasree</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Baridhara"> &nbsp;Baridhara</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Bashundhara Residential Area"> &nbsp;Bashundhara Residential Area</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Cantonment"> &nbsp;Cantonment</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Chowk Bazaar"> &nbsp;Chowk Bazaar</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Dhanmondi"> &nbsp;Dhanmondi</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Diabari"> &nbsp;Diabari</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Farmgate"> &nbsp;Farmgate</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Gulshan"> &nbsp;Gulshan</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Hatirpool"> &nbsp;Hatirpool</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Jhigatola"> &nbsp;Jhigatola</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Kallyanpur"> &nbsp;Kallyanpur</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Karwanbazar"> &nbsp;Karwanbazar</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Kazipara"> &nbsp;Kazipara</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Lalbagh"> &nbsp;Lalbagh</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Lalmatia"> &nbsp;Lalmatia</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Maghbazar"> &nbsp;Maghbazar</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Malibagh"> &nbsp;Malibagh</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Mirpur"> &nbsp;Mirpur</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Mohakhali"> &nbsp;Mohakhali</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Mohammadpur"> &nbsp;Mohammadpur</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Motizheel"> &nbsp;Motizheel</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Narinda"> &nbsp;Narinda</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Nazirabazar"> &nbsp;Nazirabazar</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="New Market"> &nbsp;New Market</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Nilkhet"> &nbsp;Nilkhet</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Panthapath"> &nbsp;Panthapath</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Savar"> &nbsp;Savar</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Shahbagh"> &nbsp;Shahbagh</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Santinagar"> &nbsp;Santinagar</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Shamoli"> &nbsp;Shamoli</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Tejgaon"> &nbsp;Tejgaon</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Tikatuli"> &nbsp;Tikatuli</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Uttara"> &nbsp;Uttara</li>
                            <li><input class="form-check-input tuition-subject" type="checkbox" name="location" value="Wari"> &nbsp;Wari</li>
                        </ul>
                </div>
        
                <script type="text/javascript">
                    var notification_locationChecklist = document.getElementById('notification-tuition-post-locations');
                    notification_locationChecklist.getElementsByClassName('dropdown-check-list-anchor')[0].onclick = function (evt) {
                        if (notification_locationChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display == 'none') notification_locationChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display = 'block';
                        else notification_locationChecklist.getElementsByClassName('dropdown-check-list-items')[0].style.display = 'none';
                    }
                </script>
        
                    
                </div>



            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="saveTuitionNotification(<%=currentUser.USER_ID%>)">Save changes</button>
            </div>

        </div>
    </div>
</div>


<script>

    document.getElementById('tuition-notification-modal').addEventListener('shown.bs.modal', async function () {
        
        const res = await axios.get('/tuition/notification/user-notification-data');
        
        if(res.data.result === 'success'){

            res.data.classes = res.data.classes.map(a=>a.CLASS)
            res.data.locations = res.data.locations.map(a=>a.LOCATION)
            res.data.subjects = res.data.subjects.map(a=>a.SUBJECT)

            let notification_classes = document.getElementById("notification-tuition-post-class");
            let notification_locations = document.getElementById("notification-tuition-post-locations");
            let notification_subjects = document.getElementById("notification-tuition-post-subject");
            
            let checkboxes = notification_classes.querySelectorAll('input[type=checkbox]');
            for (let i = 0; i < checkboxes.length; i++) if (res.data.classes.includes(checkboxes[i].value)) checkboxes[i].checked = true;
            
            checkboxes = notification_locations.querySelectorAll('input[type=checkbox]');
            for (let i = 0; i < checkboxes.length; i++) if (res.data.locations.includes(checkboxes[i].value)) checkboxes[i].checked = true;
            
            checkboxes = notification_subjects.querySelectorAll('input[type=checkbox]');
            for (let i = 0; i < checkboxes.length; i++) if (res.data.subjects.includes(checkboxes[i].value)) checkboxes[i].checked = true;
        }
    });

    async function saveTuitionNotification(user_id){

        // get the selected checkboxes values in arrays
        let classes = [];
        let locations = [];
        let subjects = [];

        let notification_classes = document.getElementById("notification-tuition-post-class");
        let notification_locations = document.getElementById("notification-tuition-post-locations");
        let notification_subjects = document.getElementById("notification-tuition-post-subject");

        let checkboxes = notification_classes.querySelectorAll('input[type=checkbox]');
        for (let i = 0; i < checkboxes.length; i++) if (checkboxes[i].checked) classes.push(checkboxes[i].value);

        checkboxes = notification_locations.querySelectorAll('input[type=checkbox]');
        for (let i = 0; i < checkboxes.length; i++) if (checkboxes[i].checked) locations.push(checkboxes[i].value);

        checkboxes = notification_subjects.querySelectorAll('input[type=checkbox]');
        for (let i = 0; i < checkboxes.length; i++) if (checkboxes[i].checked) subjects.push(checkboxes[i].value);

        // print the data
        console.log(classes);
        console.log(locations);
        console.log(subjects);

        // send the data to server
        const res = await axios.post('/tuition/notification/save-tuition-notification', {
            classes: classes,
            locations: locations,
            subjects: subjects
        });




    }

</script>