<nav>

    <div class="container">

        <div class="logo">
            <h1 style="font-size: 1.75em;">Halfwall</h1>
        </div>


        <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Search for users, posts and groups">
        </div>

        <div class="logout">

            <label class="btn btn-primary" for="log-out"> Log out</label>
            <!-- <div class="profile-picture">
                <img src="images/pfp.jpg" alt="pfp">
            </div> -->

        </div>

    </div>

</nav>