<nav>

    <div class="container">

        <div class="logo">
            <h1 style="font-size: 1.75em;">Halfwall</h1>
        </div>


        <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Search for users, posts and groups">
        </div>

        <div class="logout">
            <a href="/auth/signout"><label class="btn btn-primary" for="log-out"> Log out</label></a>
        </div>

    </div>

</nav>
<!-- <div aria-live="polite" aria-atomic="true" style="position: absolute; min-height: 200px;">

    <div style="position: absolute; top: 0; right: 0;">
  

      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Bootstrap</strong>
          <small class="text-muted">just now</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          See? Just like this.
        </div>
      </div>
  
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Bootstrap</strong>
          <small class="text-muted">2 seconds ago</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body">
          Heads up, toasts will stack automatically
        </div>
      </div>
    </div>
  </div> -->