<div class="right-box follow-requests-box" onclick="showFollowRequests()">
    <h3 style="font-size: 1.2rem;">Follow Requests : <%= currentUser.request_count %>
    </h3>
    <p>See who have requested to follow you</p>
</div>



<script>
    var user_modal = new bootstrap.Modal(document.getElementById('user-modal'), {});
    
    async function showFollowRequests() {
        const modalBody = document.getElementById('user-modal').querySelector('.modal-body');
        const modalTitle = document.getElementById('user-modal').querySelector('.modal-title');
        const followRequestsBox = document.querySelector('.follow-requests-box h3');[0];

        let followers = await axios.get("/follow/getFollowRequests")
        followers = followers.data;
        modalTitle.innerHTML = `Follow Requests : ${followers.length}`;
        followRequestsBox.innerHTML = `Follow Requests : ${followers.length}`;
        modalBody.innerHTML = ""

        for (let follower of followers) {
            const str = `<div class = "modal-userlist-users" id = "modal-userlist-user-${follower.USER_ID}">
                            <div class = "modal-userlist-userinfo">
                                <a href="/user/user_id=${follower.USER_ID}"  class="modal-userlist-userpic"><div class = "profile-picture"><img src="${follower.PROFILE_PIC}"></div></a>
                                <a href="/user/user_id=${follower.USER_ID}"  class="modal-userlist-username">${follower.NAME}</a>
                            </div>
                            <div class = "modal-userlist-action-buttons">
                                <button class="followRequest-list-accept btn btn-primary"  onclick = "processFollowRequest(${follower.USER_ID}, 'ACCEPT-FOLLOW')">Accept</button>
                                <button class="followRequest-list-remove btn btn-primary"  onclick = "processFollowRequest(${follower.USER_ID}, 'REMOVE-FOLLOW')">Remove</button>
                            </div>
                        </div>`;
            modalBody.innerHTML += str;
        }
        user_modal.show();
    }

    async function processFollowRequest(user_id, action) {
        const response = await axios.post("/follow/processFollowRequest", {
            USER_ID: user_id,
            ACTION : action
        });
        if (response.data = 'success') {
            // increase follower count
        }
        
        // remove the action buttons
        const modalUserlistUser = document.getElementById(`modal-userlist-user-${user_id}`);
        const modalUserlistActionButtons = modalUserlistUser.querySelector('.modal-userlist-action-buttons');
        modalUserlistActionButtons.innerHTML = "";

        //decrease follow request count
        const followRequestsBox = document.querySelector('.follow-requests-box h3');
        followRequestsBox.innerHTML = `Follow Requests : ${parseInt(followRequestsBox.innerHTML.split(':')[1]) - 1}`;
    }

</script>