<div class="right-box" onclick="showTuitionNotificationModal()">
    <div style="font-size: 1.1rem ; font-weight: 500;">Notification</div>
    <p>Set up notification and never miss a tuition offer</p>

</div>



<script>

    var tuition_notification_modal = new bootstrap.Modal(document.getElementById('tuition-notification-modal'), {}); 

    async function showTuitionNotificationModal(){

        tuition_notification_modal.show();


    }


</script>