<style>

    .middle .group-header{
        background: var(--color-white);
        border-radius: var(--card-border-radius);
        margin: 0 0;
        margin-bottom: 1.5rem;
        font-size: 0.85rem;
        line-height: 1.5;
    }

    .middle .group-header .group-photo{
        width: 100%;
    }

    .middle .group-header .group-photo img{
        width: 100%;
        aspect-ratio: 16/6;
        object-fit: cover;
    }

    .middle .group-header .group-info{
        padding: 1rem;
    }

    .middle .group-header .group-name{
        font-size: 1.2rem;
        font-weight: 500;
    }

</style>



<div class="group-header">

    <div class="group-photo">
        <img src="/images/pfp2.png"  alt="groupphoto">
    </div>
    
    <div class="group-info">
        <h3 class = "group-name">Current students of buet</h3>
        <div class="group-details">
            <p class="text-muted">Public Group | 1234 members</p>
        </div>
    </div>


</div>