<style>
    
    .group-members .group-member{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
    }

    .group-member .btn{
        font-size: 0.8rem;
    }

    .group-members .group-member-info{
        display: flex;
        align-items: center;
        gap: 1rem;
        
    }


</style>

<div class="group-members">

    <% for( let i = 0; i < data.group_members.length; i++ ) { %>

        <div class="group-member">

        <a href="/user/user_id=<%= data.group_members[i].USER_ID %>">
            <div class="group-member-info">
                <div class="profile-picture"><img src="/images/pfp.jpg" alt="pfp"></div>
                <div class="group-member-name"><%= data.group_members[i].NAME %></div>
            </div>
        </a>
        
        <% if (data.isAdmin && currentUser.USER_ID != data.group_members[i].USER_ID) { %>
            <div class="group-member-action-buttons">
                <button class="btn btn-primary">Make admin</button>
                <button class="btn btn-blank">Remove</button>
            </div>
        <% } %>
        

        </div>


    <% } %>
</div>