
<style>

    .private-group-own-post {
        padding: 2rem;
        margin-bottom: 1rem;
        background: var(--color-white);
        border-radius: var(--card-border-radius);
        font-size: 0.9rem;
        font-weight: 400;
        text-align: justify;
    }

</style>


<div class="private-group-own-post">
    <p>You are not currently a member of this private group. You can only view the posts that you have previously shared with this group.</p>
</div>